<!-- === HEADER === -->
<ion-header>
  <ion-toolbar>
    <ion-title>Tic Tac Toe</ion-title>
  </ion-toolbar>
</ion-header>

<!-- === Main Body (Game board) === -->
<ion-content>
  <app-game-board (currentPlayer)="getCurrentPlayer($event)"
                  (gameStatus)="getGameStatus($event)"></app-game-board>
</ion-content>

<!--
  === Footer toolbar ===
  Contains the button to
  reset the game, shows
  the current player and
  the winner.
-->
<ion-footer>
  <ion-toolbar>
    
    <ion-item class="ion-no-padding" lines="none">
      <!-- Current Player label -->
      <ion-label>
        Player: {{ currentPlayer }}
      </ion-label>

      <!-- Winner label -->
      <ion-label *ngIf="gameStatus">
        Winner: {{ currentPlayer }}
      </ion-label>

      <!-- Reset button -->
      <ion-button id="reset-button"
                  (click)="resetGame()">
        <ion-label>Reset</ion-label>
      </ion-button>
    </ion-item>

  </ion-toolbar>
</ion-footer>
