@import url('https://fonts.googleapis.com/css2?family=Borel&family=Mooli&family=REM:wght@300&family=Roboto&display=swap');
/*
 === Imported Fonts ===
  - Borel
  - Mooli
  - REM
  - Roboto
*/

ion-content,
ion-header,
ion-footer{
  --overflow: hidden;
}

// Title of the app
ion-title {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: 'Mooli', serif;
}

// === FOOTER ===
ion-footer {
  width: 100%;

  ion-toolbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    --background: rgb(55, 5, 55);
    --color: white;
    border-top: 1px solid #ccc;
    font-family: 'Borel', serif;

  }
}
