@import url('https://fonts.googleapis.com/css2?family=Borel&family=Mooli&family=REM:wght@300&family=Roboto&display=swap');
/*
 === Imported Fonts ===
  - Borel
  - Mooli
  - REM
  - Roboto
*/

ion-content,
ion-header,
ion-footer{
  --overflow: hidden;
}

// Title of the app
ion-title {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: 'Mooli', serif;
}

// === FOOTER ===
ion-footer {
  width: 100%;

  ion-toolbar {
    --background: linear-gradient(90deg, rgba(28,23,150,1) 0%, rgba(82,15,113,1) 50%, rgba(28,23,150,1) 100%);
    --color: white;
    padding: 0% 2% 0% 2%;
    
    border-top: 3px solid #ccc;
    --border-top-right-radius: 20px;
    border-top-right-radius: 20px;
    --border-top-left-radius: 20px;
    border-top-left-radius: 20px;

    ion-item {
      --background: none;

      ion-label {
        font-size: large;
        font-family: 'Mooli', serif;
      }

      // --- Reset Button
      ion-button {
        --background: white;
        --border-radius: 15px;
        text-transform: none;
        
        // - Reset Label
        ion-label {
          color: linear-gradient(90deg, rgba(82,15,113,1) 0%, rgba(28,23,150,1) 50%, rgba(82,15,113,1) 100%);
          font-weight: bolder;
          font-family: 'Mooli', serif;
        }
      }
    }

    
  }
}
