@import url('https://fonts.googleapis.com/css2?family=Borel&family=Mooli&family=REM:wght@300&family=Roboto&display=swap');
/*
 === Imported Fonts ===
  - Borel
  - Mooli
  - REM
  - Roboto
*/

ion-content,
ion-header,
ion-footer{
  --overflow: hidden;
}

// Title of the app
ion-title {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: 'Mooli', serif;
}

// === Game Board Component ===
ion-content {
  top: 15%;
  bottom: 10%;
}

// Colored part of the title
span {
  font-size: 1.5rem;
  background: linear-gradient(90deg, rgba(28,23,150,1) 0%, rgba(82,15,113,1) 50%, rgba(28,23,150,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

// === FOOTER ===
ion-footer {
  height: fit-content;
  width: 100%;

  ion-toolbar {
    --background: linear-gradient(90deg, rgba(28,23,150,1) 0%, rgba(82,15,113,1) 50%, rgba(28,23,150,1) 100%);
    --color: white;
    padding: 0% 2% 0% 2%;
    
    // Border on the top of the footer
    border-top: 3px solid #ccc;
    --border-top-right-radius: 20px;
    border-top-right-radius: 20px;
    --border-top-left-radius: 20px;
    border-top-left-radius: 20px;

    // Displayed info in the footer
    ion-grid {
      --background: none;
      
      ion-row { 
        ion-col {
          display: flex;
          align-items: center;
          justify-content: center;

          // --- Player/Winner label
          ion-label {
            p {
              font-size: large;
              font-family: 'Mooli', serif;
              color: white;
            } // <p> end
          } // <ion-label> end
    
          // --- Reset Button
          ion-button {
            --background: white;
            --border-radius: 15px;
            text-transform: none;
            
            // - Reset Label
            ion-label {
              font-size: large;
              color: linear-gradient(90deg, rgba(82,15,113,1) 0%, rgba(28,23,150,1) 50%, rgba(82,15,113,1) 100%);
              font-weight: bolder;
              font-family: 'Mooli', serif;
            } // <ion-label> end
          } // <ion-button> end
        } // <ion-col> end
      } // <ion-row> end
    } // <ion-grid> end
  } // <ion-toolbar> end
} // <ion-footer> end