<!-- === HEADER === -->
<ion-header>
  <ion-toolbar>
    <ion-title>Tic <span>Tac</span> Toe</ion-title>
  </ion-toolbar>
</ion-header>

<!-- === Main Body (Game board) === -->
<ion-content>
  <app-game-board #gameBoard
                  (currentPlayer)="getCurrentPlayer($event)"
                  (gameStatus)="getGameStatus($event)"></app-game-board>
</ion-content>

<!--
  === Footer toolbar ===
  Contains the button to
  reset the game, shows
  the current player and
  the winner.
-->
<ion-footer>
  <ion-toolbar>

    <ion-grid class="ion-no-padding">
      <ion-row>

        <ion-col> <!-- Current Player label -->
          <ion-label>
            Player: {{ currentPlayer }}
          </ion-label>
        </ion-col>

        <ion-col> <!-- Winner label -->
          <ion-label *ngIf="gameStatus">
            Winner: {{ currentPlayer }}
          </ion-label>
        </ion-col>

        <ion-col> <!-- Reset button -->
          <ion-button id="reset-button"
                      (click)="resetGame()">
              <ion-label>Reset</ion-label>
          </ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-footer>
