ion-content {
    --overflow: hidden;
}

// === GAME BOARD ===
ion-grid {
    --ion-grid-padding: 0px;

    // Slots where the buttons will be located
    ion-col {
        border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
    
        // --- Game buttons
        ion-button {
            width: 95%;
            height: 90%;
            --background: linear-gradient(90deg, rgba(82,15,113,1) 0%, rgba(28,23,150,1) 50%, rgba(82,15,113,1) 100%);
            font-size: larger;
        
            ion-icon {
                color: white;
            }
        } // <ion-button> end
    } // <ion-col> end
} // <ion-grid> end