<!-- === GAME BOARD === -->
<ion-content>
  <ion-grid>
    <!-- Row 1 -->
    <ion-row>
      <ion-col [style.border-top]="'none'" [style.border-left]="'none'">
        <ion-button (click)="place(0,0)" [disabled]="gameWon">
          <ion-icon [name]="iconNames[0][0]"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col [style.border-top]="'none'">
        <ion-button (click)="place(0,1)" [disabled]="gameWon">
          <ion-icon [name]="iconNames[0][1]"></ion-icon>
        </ion-button>
      </ion-col>
      
      <ion-col [style.border-top]="'none'" [style.border-right]="'none'">
        <ion-button (click)="place(0,2)" [disabled]="gameWon">
          <ion-icon [name]="iconNames[0][2]"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- Row 2 -->
    <ion-row> 
      <ion-col [style.border-left]="'none'">
        <ion-button (click)="place(1,0)" [disabled]="gameWon">
          <ion-icon [name]="iconNames[1][0]"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button (click)="place(1,1)" [disabled]="gameWon">
          <ion-icon [name]="iconNames[1][1]"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col [style.border-right]="'none'">
        <ion-button (click)="place(1,2)" [disabled]="gameWon">
          <ion-icon [name]="iconNames[1][2]"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- Row 3 -->
    <ion-row>
      <ion-col [style.border-bottom]="'none'" [style.border-left]="'none'">
        <ion-button (click)="place(2,0)" [disabled]="gameWon">
          <ion-icon [name]="iconNames[2][0]"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col [style.border-bottom]="'none'">
        <ion-button (click)="place(2,1)" [disabled]="gameWon">
          <ion-icon [name]="iconNames[2][1]"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col [style.border-bottom]="'none'" [style.border-right]="'none'">
        <ion-button (click)="place(2,2)" [disabled]="gameWon">
          <ion-icon [name]="iconNames[2][2]"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>

<!--
   === NOTE === 

    The game board is a 3x3 grid of buttons. Each button has an icon
    that is either a cross or a circle. The icon is determined by the
    iconNames array.

    The style.border-* properties are used to remove the borders and 
    simulate the typical Tic Tac Toe board.
-->