ion-content {
    --overflow: hidden;
}

ion-col {
    display: flex;
    justify-content: center;

    // --- Game buttons
    ion-button {
        
        --background: linear-gradient(90deg, rgba(82,15,113,1) 0%, rgba(28,23,150,1) 50%, rgba(82,15,113,1) 100%);
        font-size: larger;
    
        ion-icon {
            color: white;
        }
    } 
}
